@media screen and (min-width: 1999px) {
    .adaptive2k-grid-column-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }

    .adaptive2k-grid-column-15 {
        grid-template-columns: repeat(15, minmax(0, 1fr));
    }

    .adaptive2k-grid-column-9 {
        grid-template-columns: repeat(9, minmax(0, 1fr));
    }

    .adaptive2k-grid-column-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    .adaptive2k-grid-column-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .adaptive2k-grid-column-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}