@use '../import.scss' as *;

input {
    background-color: $bg-color-dark;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input:focus {
    outline: 1px solid $bg-color-light;
}

.text-warning {
    font-size: 18px;
    padding: 5px 0 0 2px;
    max-width: 100%;
    color: $red-color;
}

button {
    outline: 0px solid $bg-color-light;
}

.btn-in-group:hover {
    background-color: $bg-color !important;
}

button:hover {
    // background-color: $bg-color-light !important;
    outline: 1px solid $bg-color-light;
}