@use '../import.scss' as *;

input {
    background-color: $bg-color-dark;
    outline: 1px solid $bg-color-light;
    padding: 11px 18px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

textarea:focus {
    outline: 0px solid $bg-color-light;
}

input:focus {
    outline: 0px solid $bg-color-light;
}

// select {
//     all: unset
// }

input[type="search"] {
    padding: 11px 18px;
    letter-spacing: 1.5px;
    // outline: 0px solid $bg-color-light;
}

.text-warning {
    font-size: 14px;
    padding: 0 0 0 2px;
    max-width: 100%;
    color: $red-color;
    height: 20px;
}

// button {
// outline: 1px transparent solid;
// }

.btn-in-group {
    outline: none;

    &:hover {
        background-color: $bg-color-darkness;
    }
}

.fake-input {
    background-color: #00000000;
    padding: 0;

    &:hover,
    &:focus {
        outline: none !important;
    }
}

select {
    appearance: none;
    // outline: 1px solid $bg-color-light;

    @supports (appearance: base-select) {

        &,
        &::picker(select) {
            appearance: base-select;
        }
    }
}

select {
    min-width: 200px;
    align-items: center;
    padding-block: 10px;
    padding-left: 15px !important;
    border-radius: 5px;
    background-color: $bg-color-dark;
    // outline: 1px solid $bg-color-light;
    cursor: pointer;

    @supports (appearance: base-select) {
        padding-inline: 10px;
        background-image: none;

        &::picker-icon {
            content: "";
            width: 20px;
            height: 20px;
            background-image: url("/icon/arrow.svg");
            background-size: 40%;
            background-position: center;
            background-repeat: no-repeat;
            transition: rotate .4s ease-out;
            rotate: 90deg;
        }

        // &:open::picker-icon {
        // rotate: 90deg;
        // }


        &::picker(select) {
            background: transparent;
            border: none;
            overflow: hidden;
            margin-top: 10px;
            border-radius: 5px;

            opacity: 0;
            height: 0;

            transition: height 0.5s ease-out, opacity 0.5s ease-out, overlay 0.5s,
                display 0.5s;

            transition-behavior: allow-discrete;
        }

        &:open::picker(select) {
            opacity: 1;
            height: calc-size(auto, size);
            overflow: auto;

            @starting-style {
                opacity: 0;
                height: 0;
            }
        }

        option {
            padding: 10px;
            padding-left: 15px;
            color: white;
            background-color: $bg-color-dark;
            cursor: pointer;
            transition-property: color, background;
            transition-duration: 0.2s;
            transition-timing-function: ease-out;

            &:where(:hover, :focus, :active) {
                background: $bg-color-darkness;
            }

            &:checked {
                background: $bg-color-darkness;
            }

            &::checkmark {
                display: none;
            }
        }
    }
}

.date-picker {
    margin-top: 5px;
    outline: none;
}

.react-datepicker,
.react-datepicker__header {
    border: $bg-color-light 1px solid !important;
    background-color: $bg-color-dark !important;
    font-size: 17px !important;
    padding-inline: 5px;
    color: white !important;
}

.react-datepicker__header {
    border: none !important;
    padding-top: 10px !important;
}

.react-datepicker__current-month {
    color: white !important;
    font-size: 20px !important;
    font-weight: 100;
}

.react-datepicker__day-name {
    color: white !important;
}

.react-datepicker__day {
    padding: 5px;
    transition: .2s;
    color: white !important;

    &:hover {
        color: black !important;
    }
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
    background-color: $bg-color-light !important;
}

.react-datepicker__navigation-icon {
    transform: translateY(10px);
}

.react-datepicker__input-container {
    display: flex !important;
    align-items: center;
}

.react-datepicker__view-calendar-icon input {
    padding-left: 35px !important;
    font-size: 20px;
    outline: none !important;
}