@use '../import.scss' as *;

input {
    background-color: $bg-color-darkness;
    // outline: 1px solid $bg-color-light;
    padding: 12px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

textarea:focus {
    outline: 0px solid $bg-color-light;
}

input:focus {
    outline: 0px solid $bg-color-light;
}

input[type="search"] {
    padding: 13px 20px;
}

.text-warning {
    font-size: 14px;
    padding: 0 0 0 2px;
    max-width: 100%;
    color: $red-color;
    height: 20px;
}

// button {
    // outline: 1px transparent solid;
// }

.btn-in-group {
    outline: none;

    &:hover {
        background-color: $bg-color-darkness;
    }
}

.fake-input {
    background-color: #00000000;
    padding: 0;

    &:hover,
    &:focus {
        outline: none !important;
    }
}