@use '../import.scss' as *;

input {
    background-color: $bg-color-darkness;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

input:focus {
    outline: 1px solid $bg-color-light;
}

input[type="search"] {
    padding: 13px 20px;
}

.text-warning {
    font-size: 18px;
    padding: 5px 0 0 2px;
    max-width: 100%;
    color: $red-color;
    height: 25px;
}

button {
    outline: 1px solid $bg-color-light;
    transition: .7s;

    &:hover {
        background-color: $bg-color-light;
    }
}

.btn-in-group {
    outline: none;

    &:hover {
        background-color: $bg-color-darkness;
    }
}