@use '../import.scss' as *;

a.prime-hover {
    text-decoration: none;
    position: relative;

    &>div {

        &:hover {
            background-color: $bg-color-darkness !important;
        }
    }
}