.shadow {
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.45);
    animation: shadow-open-anim .7s;
    opacity: 1;
}

.shadow-close {
    animation: shadow-close-anim .7s !important;
    opacity: 0;
}

.modal-open {
    animation: modal-open-anim .7s;
    transform: translate(0, 0);
    opacity: 1;
}

.modal-close {
    animation: modal-close-anim .7s;
    transform: translate(0, 50%);
    opacity: .7;
}

.modal-open-bottom {
    animation: modal-open-bottom-anim .7s;
    transform: translate(0, 0);
    opacity: 1;
}

.modal-close-bottom {
    animation: modal-close-bottom-anim .7s;
    transform: translate(0, 50%);
    opacity: .7;
}

@keyframes shadow-open-anim {
    from {
        opacity: .7;
    }

    to {
        opacity: 1;
    }
}

@keyframes shadow-close-anim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes modal-open-anim {
    from {
        transform: translate(0, -10%);
        opacity: .7;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes modal-close-anim {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }

    to {
        transform: translate(0, 10%);
        opacity: 0;
    }
}

@keyframes modal-open-bottom-anim {
    from {
        transform: translate(0, 20%);
        opacity: .7;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes modal-close-bottom-anim {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }

    to {
        transform: translate(0, 20%);
        opacity: 0;
    }
}

.right-modal-open {
    animation: right-modal-open-anim .7s;
    transform: translate(0, 0);
    opacity: 1;
}

.right-modal-close {
    animation: right-modal-close-anim .7s;
    transform: translate(15%, 0);
    opacity: 0;
}

@keyframes right-modal-open-anim {
    from {
        transform: translate(15%, 0);
        opacity: .7;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes right-modal-close-anim {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }

    to {
        transform: translate(15%, 0);
        opacity: 0;
    }
}