@use '../import.scss' as *;

.children-no-outline-hover {
    &>*:hover {
        outline: none !important;
    }
}

.children-font-sm {
    &>* {
        font-size: 14px;
    }
}

.tag {
    cursor: pointer;
    background-color: $bg-color-dark;

    &>* {
        font-size: 17px;
    }
}

.area {
    background: linear-gradient(rgba(245, 245, 245, 0.445), transparent 1px), linear-gradient(90deg, rgba(245, 245, 245, 0.445), transparent 1px);
    background-size: 50px 50px;
}

.line {
    height: 2px;
    background-color: whitesmoke;
}

.link-line {
    &:hover {
        & div {
            width: 50% !important;
        }
    }
}

.hover-translate-y {
    transition: .3s;

    &:hover {
        transform: translateY(-5px);
    }
}

.btn-hover-outline {
    &:hover {
        background-color: $bg-color !important;
        outline: 1px $bg-color-light solid !important;
    }
}

.running-line-parent:hover {
    .running-line {
        text-overflow: unset;
        max-width: none;
        transform: translateX(calc(40% - 100%));
    }
}

.bg-shadow {
    filter: brightness(40%)
}