@use '../import.scss' as *;

.children-no-outline-hover {
    &>*:hover {
        outline: none !important;
    }
}

.children-font-sm {
    &>* {
        font-size: 14px;
    }
}

.tag {
    cursor: pointer;
    background-color: $bg-color-dark;

    &>* {
        font-size: 17px;
    }
}

.area {
    background: linear-gradient(rgba(245, 245, 245, 0.445), transparent 1px), linear-gradient(90deg, rgba(245, 245, 245, 0.445), transparent 1px);
    background-size: 50px 50px;
}

.line {
    height: 2px;
    background-color: whitesmoke;
}

.link-line {
    &:hover {
        & div {
            width: 50% !important;
        }
    }
}

.hover-translate-y {
    transition: .3s;

    &:hover {
        transform: translateY(-5px);
    }
}

.btn-hover-outline {
    &:hover {
        background-color: $bg-color !important;
        outline: 1px $bg-color-light solid !important;
    }
}

.running-line-parent:hover {
    .running-line {
        text-overflow: unset;
        max-width: none;
        transform: translateX(calc(40% - 100%));
    }
}

.bg-shadow {
    filter: brightness(40%)
}

.bg-hover-shadow {
    filter: brightness(40%);
    transition: .3s;

    &:hover {
        filter: brightness(90%);
    }
}

.outline-bg-light {
    outline: 1px solid $bg-color-light;
}

.white-opacity {
    &:hover {

        background-color: rgba(0, 0, 0, 0.5);
    }
}

// .hover-hide-img {
// &:hover {
//     .bg-img {
//         width: 0;
//     }

//     .unwrap-text {
//         transform: translateX(-12px);
//         width: fit-content;
//         text-wrap: initial;
//         overflow: visible !important;
//     }

//     .unwrap-text-no-wrap {
//         transform: translateX(-12px);
//     }

//     .hover-w-full {
//         width: 100% !important;
//     }
// }
// }

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    opacity: .6;
    display: block;
}

.text-area {
    &>div {
        width: fit-content;
    }
}

.pointer-events-auto- {
    pointer-events: auto !important;
}

.arrow-auth-relative:hover {
    .arrow-auth {
        transform: translateX(-50%);
    }
}