@use '../import.scss' as *;

.children-no-outline-hover {
    &>*:hover {
        outline: none !important;
    }
}

.children-font-sm {
    &>* {
        font-size: 14px;
    }
}

.tag {
    cursor: pointer;
    background-color: $bg-color-dark;

    &>* {
        font-size: 17px;
    }
}

.area {
    background: linear-gradient(rgba(245, 245, 245, 0.445), transparent 1px), linear-gradient(90deg, rgba(245, 245, 245, 0.445), transparent 1px);
    background-size: 50px 50px;
}

.line {
    height: 2px;
    background-color: whitesmoke;
}

.link-line {
    &:hover {
        & div {
            width: 50% !important;
        }
    }
}

.running-line-parent:hover {
    .running-line {
        text-overflow: unset;
        max-width: none;
        transform: translateX(calc(40% - 100%));
    }
}

.bg-shadow {
    filter: brightness(40%)
}

.bg-hover-shadow {
    filter: brightness(40%);
    transition: .3s;

    &:hover {
        filter: brightness(90%);
    }
}

.outline-bg-light {
    outline: 1px solid $bg-color-light;
}

.white-opacity {
    &:hover {

        background-color: rgba(0, 0, 0, 0.5);
    }
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    opacity: .6;
    display: block;
}

.text-area {
    &>div {
        width: fit-content;
    }
}

.arrow-auth-relative:hover {
    .arrow-auth {
        transform: translateX(-50%);
    }
}

.json-push {
    &::after {
        content: '';
        z-index: 10;
        width: 15px;
        background-color: $bg-color;
        position: absolute;
        right: 0;
        height: 100%;
    }

    &::before {
        content: '';
        z-index: 10;
        width: 15px;
        background-color: $bg-color;
        position: absolute;
        left: 0;
        height: 100%;
    }
}

.warning-hint {
    transform: scaleX(.95);
}

.hover-hint {
    &:hover {
        & .warning-hint {
            transform: scaleX(1);
            opacity: 1;
            pointer-events: all;
        }
    }
}

.infinity-view {
    &:hover {
        opacity: 0 !important;
    }

    & .warning-hint {
        transform: scaleX(1);
        opacity: 1;
        pointer-events: all;
    }
}

.no-min-w {
    min-width: fit-content !important;
}

.no-min-h {
    min-height: initial !important;
}


.block-prime {
    position: initial;
}

.bg-shadow-prime:before {
    content: '';
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.bg-icons {
    background-image: url('/icon/bg-icon.svg');
    background-repeat: space;
}

.letter-spacing-2px {
    letter-spacing: 2px;
}