@use 'import.scss' as *;
@use './castom/input.scss';
@use './castom/modal.scss';
@use './castom/other.scss';
@use './castom/carousel.scss';
@use './castom/toast.scss';
@use './castom/range-slider.scss';
@use './castom/link.scss';
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=TikTok+Sans:opsz,wght@12..36,300..900&family=WDXL+Lubrifont+JP+N&display=swap');

*::-webkit-scrollbar {
    width: 0;
}

#root {
    width: 100%;
}

* {
    font-family: "WDXL Lubrifont JP N", sans-serif;
    letter-spacing: 1px;
    scroll-behavior: smooth;
    // outline: #E74343 1px solid;
}

body {
    background-color: $bg-color;
    display: flex;
    height: auto !important;
    // background-image: url('/icon/bg-img.svg');
    background-size: 3%;
}

.reverse {
    transform: scaleX(-1);
}

.fill {
    position: absolute;
    inset: 0 0 0 0;
}

.child-fill-event {
    & * {
        pointer-events: auto !important;
    }
}

.child-no-event {
    & * {
        pointer-events: none !important;
    }
}

.icon-sm {
    width: 25px;
    height: 25px;
}

.icon-sm- {
    width: 17px;
    height: 17px;
}

.icon-md {
    width: 32px;
    height: 32px;
}

.icon-lg {
    width: 54px;
    height: 54px;
}

.transition-07 {
    transition: .7s;
}

.transition-03 {
    transition: .3s;
}

.transition-20 {
    transition: 2s;
}

.d-none {
    display: none;
}

.bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.ava-md {
    width: 52px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.ava-sm {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.ava-lg {
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.container {
    width: 100%;
    min-height: 400px;
    border-radius: 5px;
    background-color: $bg-color-dark;
}

.child-pointer {
    &>* {
        cursor: pointer;
    }
}

.grab {
    cursor: grab;

    &:active {
        cursor: grabbing !important;
    }
}

.mount-opacity {
    animation: opasity-mount-anim .7s;
    opacity: 1;
}

@keyframes opasity-mount-anim {
    from {
        opacity: .1;
    }

    to {
        opacity: 1;
    }
}

.transition-02 {
    transition: .2s;
}