@use 'import.scss' as *;
@use './castom/input.scss';
@use './castom/modal.scss';
@use './castom/other.scss';
@use './castom/carousel.scss';
@use './castom/toast.scss';
@use './castom/range-slider.scss';
@use './castom/link.scss';
@use './castom/loader.scss';
@use './castom/adaptive.scss';
@use './castom/date-picker.scss';

@font-face {
    font-family: 'DFTFONT';
    src: "/font/static/Oswald-Medium.ttf"
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=TikTok+Sans:opsz,wght@12..36,300..900&family=WDXL+Lubrifont+JP+N&display=swap');


*::-webkit-scrollbar {
    width: 0;
}

#root {
    width: 100%;
}

.text-md {
    font-size: 17px;
}

* {
    font-family: "WDXL Lubrifont JP N", sans-serif, "DFTFONT";
    letter-spacing: 0.7px;
    scroll-behavior: smooth;
    // outline: #E74343 1px solid;
}

body {
    background-color: $bg-color;
    // display: flex;
    height: fit-content !important;
    // background-image: url('/img/carousel-item-1.jpg');
    background-position: center;
    background-size: cover;
}

.reverse {
    transform: scaleX(-1);
}

.fill {
    position: absolute;
    inset: 0 0 0 0;
}

.child-fill-event {
    & * {
        pointer-events: auto;
    }
}

.child-no-fill-event {
    & * {
        pointer-events: none;
    }
}

.icon-sm {
    width: 23px;
    height: 23px;
}

.icon-sm- {
    width: 16px;
    aspect-ratio: 1/1;
}

.icon-md {
    width: 30px;
    aspect-ratio: 1/1;
}

.icon-lg {
    width: 50px;
    aspect-ratio: 1/1;
}

.icon-2xl {
    width: 70px;
    aspect-ratio: 1/1;
}

.icon-4xl {
    width: 144px;
    aspect-ratio: 1/1;
}

.transition-07 {
    transition: .7s;
}

.transition-03 {
    transition: .3s;
}

.transition-20 {
    transition: 2s;
}

.d-none {
    display: none;
}

.bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ava-md {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.ava-sm {
    width: 38px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.ava-lg {
    width: 75px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.child-pointer {
    &>* {
        cursor: pointer;
    }
}

.grab {
    cursor: grab;

    &:active {
        cursor: grabbing !important;
    }
}

.mount-opacity {
    animation: opasity-mount-anim .7s;
    opacity: 1;
}

@keyframes opasity-mount-anim {
    from {
        opacity: .1;
    }

    to {
        opacity: 1;
    }
}

.transition-02 {
    transition: .2s;
}