$bg-color: #0f0f0f;
$bg-color-darkness: #090909;
$bg-color-dark: #0c0c0c;
$bg-color-light: #1f1f1f;

$bg-color: #221c14;
$bg-color-dark: #1d1811;
$bg-color-darkness: #18140d;
$bg-color-light: #352c20;

$red-color: #BC0000;

$dft-transition: .7s;
$short-transition: .3s;

.bg-color {
    background-color: $bg-color;
}

.bg-color-dark {
    background-color: $bg-color-dark;
}

.bg-color-darkness {
    background-color: $bg-color-darkness;
}

.bg-color-light {
    background-color: $bg-color-light;
}

.bg-color-hover:hover {
    background-color: $bg-color !important;
}

.bg-color-dark-hover:hover {
    background-color: $bg-color-dark !important;
}

.bg-color-darkness-hover:hover {
    background-color: $bg-color-darkness !important;
}

.bg-color-light-hover:hover {
    background-color: $bg-color-light !important;
}